<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4r8TkL01cqC7XxtN1BuJLWdWhzQ3V1MI</string>
	<key>GCM_SENDER_ID</key>
	<string>703567842283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>taevonlewis.JerseyTrack</string>
	<key>PROJECT_ID</key>
	<string>jerseytrack</string>
	<key>STORAGE_BUCKET</key>
	<string>jerseytrack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703567842283:ios:f64b85b62ee96c69b8a7ae</string>
</dict>
</plist>